body {
    background-color: black;
    user-select: none;
}

.center {
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

a {
    color: white;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #42296b 3px 3px;
}

button {
    background-color: #121141;
    position: absolute;
    border: solid;
    border-radius: 10px;
    width: 202px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-color: #08081f;
    border-width: 2px;
    font-size: 20px;
}

button:hover {
    opacity: 80%;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    background: #42296b;
}
  
::-webkit-scrollbar-thumb {
    background: #523581;
}

#particles-js {
    position: absolute;
}

#particles-container {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #000000;
}